<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
  <php>
    <ini name="max_execution_time" value="-1"/>
    <ini name="html_errors" value="false"/>
    <ini name="memory_limit" value="2G"/>
    <ini name="xdebug.mode" value="debug"/>
    <ini name="xdebug.start_with_request" value="yes"/>
    <env name="ENVIRONMENT" value="test" force="true"/>
  </php>

  <testsuites>
    <testsuite name="Integration">
      <directory>./tests/Integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
